@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

@theme {
  --radius: 0.625rem;

  /* Colors */
  --color-border: hsl(0 0% 89.8%);
  --color-input: hsl(0 0% 89.8%);
  --color-ring: hsl(142 57% 25%);

  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(0 0% 3.9%);

  --color-primary: hsl(142 57% 25%);
  --color-primary-hover: hsl(142 57% 30%);
  --color-primary-foreground: hsl(0 0% 98%);

  --color-secondary: hsl(0 14% 96.1%);
  --color-secondary-foreground: hsl(0 0% 45.1%);
  --color-secondary-hover: hsl(0 14% 94.2%);

  --color-text-gray: hsl(0 0% 38.1%);

  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 0% 98%);

  --color-muted: hsl(0 0% 94%);
  --color-muted-foreground: hsl(0 0% 45.1%);

  --color-accent: hsl(47 85% 60%);
  --color-accent-foreground: hsl(0 0% 9%);

  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(0 0% 3.9%);

  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(0 0% 3.9%);

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Border radius */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer components {
  .container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }
}
